[submodule "jqueryFAQ"]
	path = jqueryFAQ
	url = https://github.com/amandacaven/jqueryFAQ.git
[submodule "electricDreams"]
	path = electricDreams
	url = https://github.com/amandacaven/electricDreams.git
[submodule "slider"]
	path = slider
	url = https://github.com/amandacaven/slider.git
