[submodule "jqueryFAQ"]
	path = jqueryFAQ
	url = https://github.com/amandacaven/jqueryFAQ.git
[submodule "electricDreams"]
	path = electricDreams
	url = https://github.com/amandacaven/electricDreams.git
[submodule "slider"]
	path = slider
	url = https://github.com/amandacaven/slider.git
[submodule "portfolio"]
	path = portfolio
	url = https://github.com/amandacaven/portfolio.git
[submodule "saddle"]
	path = saddle
	url = https://github.com/amandacaven/saddle.git
[submodule "lightbox"]
	path = lightbox
	url = https://github.com/amandacaven/lightbox.git
[submodule "timing"]
	path = timing
	url = https://github.com/amandacaven/timing.git
[submodule "MADlibs"]
	path = MADlibs
	url = https://github.com/amandacaven/MADlibs.git
