@font-face {
    font-family: 'bebas_neuebold';
    src: url('fonts/bebasneue_bold-webfont.eot');
    src: url('fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aaarghnormal';
    src: url('fonts/aaargh-webfont.eot');
    src: url('fonts/aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aaargh-webfont.woff2') format('woff2'),
         url('fonts/aaargh-webfont.woff') format('woff'),
         url('fonts/aaargh-webfont.ttf') format('truetype'),
         url('fonts/aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: Verdana,sans-serif;
    padding: 0px;
    margin: 0 auto;
    color: white;

}

h2{
    font-size: 20px;
}

header{
    background-color: black;
    top: 0px;
    
    width: 100%;
}

nav{

    font-family: 'bebas_neuebold';
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

ul{
    margin: 0 auto;
    padding: 15px;

}

ul li{

    margin-right: 3%;
    margin-left: 3%;
    display: inline;
   

}

nav a{
 

}

nav a:link{
    color: white;
    text-decoration: none;
    
    
}

nav a:visited{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: gray;
    text-decoration: none;
}

#logo{
    margin: 0 auto;

}

#tagline{
   
    margin: 0 auto;
}

#cover{
    height: 650px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url('images/5.jpg');
    background-position: 50% 50%;


}

section{
        
}

#worksquare{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    font-family: 'bebas_neuebold';
    font-size: 35px;
}

#worksquare a:hover{
    opacity: .5;
}

#worksquare2 a:hover{
    opacity: .5;
}

#worksquare3 a:hover{
    opacity: .5;
}

#worksquare2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
        font-family: 'bebas_neuebold';
        font-size: 35px;
}

#worksquare3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
        text-align: center;
        font-family: 'bebas_neuebold';
        font-size: 35px;
}

#square1{
    background: url(images/universe_gray.png) 50% 50% no-repeat; /* 50% 50% centers image in div */
    width: 250px;
    height: 250px;
    float: left;
    margin: 1%;
    position: relative;
    /*line-height is putting text in middle*/
    line-height: 250px;


}

#square1 a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

#square2{
    background: url(images/paranoidcrop_ai.png) 50% 50% no-repeat; /* 50% 50% centers image in div */
    width: 250px;
    height: 250px;
    float: left;
    margin: 1%;
    position: relative;
        /*line-height is putting text in middle*/
    line-height: 250px;
    color: gray;

}

#square2 a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

#square3{
    background: url(images/11.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    width: 250px;
    height: 250px;
    float: left;
    margin: 1%;
    position: relative;
        /*line-height is putting text in middle*/
    line-height: 250px;

}

#square3 a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

#square4{
    background: url(images/view1.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    width: 250px;
    height: 250px;
    float: left;
    margin: 1%;
    position: relative;
        /*line-height is putting text in middle*/
    line-height: 250px;


}

#square4 a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

#square5{
    background: url(images/paulbunyan.png) 50% 50% no-repeat; /* 50% 50% centers image in div */
    width: 250px;
    height: 250px;
    float: left;
    margin: 1%;
    position: relative;
        /*line-height is putting text in middle*/
    line-height: 250px;

}

#square5 a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}


#square6{
    background: url(images/lightboxSnap.PNG) 50% 50% no-repeat; /* 50% 50% centers image in div */
    width: 250px;
    height: 250px;
    float: left;
    margin: 1%;
    position: relative;
    /*line-height is putting text in middle*/
    line-height: 250px;

}

#square6 a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

#square7{
    background: url(images/paulbunyan.png) 50% 50% no-repeat; /* 50% 50% centers image in div */
    width: 250px;
    height: 250px;
    float: left;
    margin: 1%;
    position: relative;
    /*line-height is putting text in middle*/
    line-height: 250px;

}

#square7 a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

#square8{
    background: url(images/11.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    width: 250px;
    height: 250px;
    float: left;
    margin: 1%;


}

#square9{
    background: url(images/11.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    width: 250px;
    height: 250px;
    float: left;
    margin: 1%;


}



#about{
    display: flex;
    justify-content: center;
/*    align-items: center;*/
        background-image: url('_images/5.jpg');
    background-position: 50% 50%;
    height: 400px;
}

#contact{
    display: flex;
    justify-content: center;
/*    align-items: center;*/
    
    height: 400px;
}




footer{
    background-color: gray;
    height: 200px;
}
